{% extends "base.html" %}

{% block content %}
<h1>MaLDReTH Prototype</h1>
<nav>
    <ul>
        <li>
            <a href="{{ url_for('main.dynamic_view') }}">
                <button class="block w-full text-left p-2 mb-2 bg-blue-500 text-white">Dynamic View</button>
            </a>
        </li>
        <li>
            <a href="{{ url_for('main.static_view') }}">
                <button class="block w-full text-left p-2 mb-2 bg-gray-200">Static View</button>
            </a>
        </li>
        <li>
            <a href="{{ url_for('main.schema_view') }}">
                <button class="block w-full text-left p-2 mb-2 bg-gray-200">Schema View</button>
            </a>
        </li>
        <li>
            <a href="{{ url_for('main.text_view') }}">
                <button class="block w-full text-left p-2 mb-2 bg-gray-200">Text View</button>
            </a>
        </li>
        <li>
            <a href="{{ url_for('main.manage_tools') }}">
                <button class="block w-full text-left p-2 mb-2 bg-gray-200">Tools View</button>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}
